 .logo {
     font-size: 60px;
     font-family: "Helvetica Neue", Helvetica, Arial;
     font-weight: bold;
     color: rgb(80, 187, 109);
 }
 span {
     font-size: 15px;
     font-weight: 600;
     color: rgba(142, 187, 157, 0.959);
   
     
 

 }